*{
	box-sizing: border-box;
}
body{
	background-color: #0f292f;
	color: #ccc;
	font-family: 'Codystar', cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	margin: 0;
	overflow: hidden;
}
h1{
	color: #fff;
}
p{
	color: #cb2d6f;
}
.game-container{
	padding: 20px 30px;
	position: relative;
	margin: auto;
	height: 350px;
	width: 450px;
}
.figure-container{
	fill:transparent;
	stroke: #fff;
	stroke: width:4px;
	stroke-linecap: round;
}
.figure-part{
	display: none;
}
.wrong-letters-container{
	position: absolute;
	top:20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
}
.wrong-letters-container p{
	margin: 0 0 5px;
	color: #14a098;
}
.wrong-letters-container span{
	font-size:22px;
	font-family: 'Caviar dreams';
}
.word{
	display: flex;
	position: absolute;
	bottom: 5px;
	top:270px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Cinzel Decorative', cursive;
}
.letter{
	border-bottom:3px solid #14a098;
	display: inline-flex;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
	height: 40px;
	width: 10px;
}
.popup-container{
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	align-items:center;
	justify-content: center;
	display: flex;
	display: none;

}
.popup{
	background:#cb2d6f;
	border-radius: 5px;
	box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
	padding: 20px;
	text-align: center;
	font-family: 'Caviar';
}
.popup button{
	cursor: pointer;
	background-color: #fff;
	color: #cb2d6f;
	border:0;
	margin-top: 20px;
	padding: 12px 20px;
	font-size:16px;
}
.popup button:active{
	transform: scale(0.98);
}
.popup button:focus{
	outline: 0;
}
.notification-container {
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px 10px 0 0;
	padding: 15px 20px;
	position: absolute;
	bottom: -50px;
	transition: transform 0.3s ease-in-out;
}
.notification-container p
{
	margin: 0;
	font-family: 'Caviar';
}
.notification-container.show{
	transform: translateY(-50px);
}